/*
    Font Faces
*/
@font-face {
    font-family: "Game Title";
    src: url(../font/chargen.ttf) format("truetype");
}

/*
   Animations
*/
@keyframes text-glow{
    to {
        text-shadow: 0 0 20px magenta;
    }
}

@keyframes btn-glow{
    to {
        box-shadow: 0 0 10px magenta;
    }
}

/*
   Rules
*/
html, body {
    background-color: black;
    color: lightgrey;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

canvas {
    position: fixed;
    bottom: 0;
    z-index: 0;
}

img {
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 300px;
}

#music-control {
    position: fixed;
    bottom: 2%;
    right: 40px;
    min-width: 85px;
    margin: 0;
}

#footer {
    position: fixed;
    bottom: 2%;
    left: 40px;
    margin: 0;
}

.container {
    z-index: 2;
}

.col-xs-12 {
    width: 100%;
}

.text-glow {
    animation: text-glow 2.5s infinite alternate;
}

.btn-glow {
    animation: btn-glow 2s infinite alternate;
}

.row {
    margin-bottom: 1em;
}

.game-title {
    font-family: "Game Title", sans-serif;
    font-size: 72px;
    margin-top: 15%;
}