/*
    Font Faces
*/
@font-face {
    font-family: "Game Title";
    src: url(../font/chargen.ttf) format("truetype");
}

/*
   Animations
*/
@keyframes text-glow{
    to {
        text-shadow: 0 0 25px magenta;
    }
}

@keyframes btn-glow{
    to {
        box-shadow: 0 0 10px magenta;
    }
}

/*
   Rules
*/
html, body {
    background-color: black;
    color: lightgrey;
    width: 100%;
    height: 100%;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                               supported by Chrome and Opera */
}

canvas {
    position: fixed;
    bottom: 0;
    z-index: 0;
}

img {
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 300px;
}

#music-control, #achievements {
    position: fixed;
    bottom: 2%;
    min-width: 85px;
    margin: 0;
}

#music-control {
    right: 40px;
}

#achievements{
    left: 40px;
}

#version {
    position: fixed;
    top: 185px;
    right: 90px;
    margin: 0;
}

.navbar {
    border-bottom: 2px solid #f00bac;
}

.navbar-brand {
    font-family: "Game Title", sans-serif;
}

.container {
    z-index: 2;
}

.col-xs-12 {
    width: 100%;
}

.text-glow {
    animation: text-glow 2s infinite alternate;
}

.btn-glow {
    animation: btn-glow 2s infinite alternate;
}

.row, .navbar {
    margin-bottom: 1em;
}

.card {
    margin-top: 5%;
}

.game-title, .breadcrumb {
    font-family: "Game Title", sans-serif;
}

.game-title {
    font-size: 72px;
    margin-top: 15%;
}

.md-form .prefix.active {
    color: magenta;
}